@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.app{
    background: rgb(242,142,38);
    background: linear-gradient(90deg, rgba(242,142,38,1) 0%, rgba(247,98,59,1) 92%);
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.app-game{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.result{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    font-weight: bold;
    flex-direction: column;
}
.cases{
    height:50vh;
    width:30%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items:center;
    justify-items:center;
    margin-top:20px
}
.case{
    border:1px solid black;
    height:40px;
    width:40px;
}

.cmd{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height:45vh;
    width:100%;
    margin-top:20px;
}
.cmd a{
    border: 1px solid;
    padding:20px;
    border-radius:30px;
    background: #f26d26;
    cursor:pointer;
}
.infos{
    width:40%;
    height:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
}
.restart{
    cursor:pointer;
    font-size:2rem;
}
.title{
    font-size:3rem;
    font-weight: bold;
    font-family: 'Righteous', cursive !important;
}
.menu{
    width:100%;
    height:100VH;
    background: rgb(242,142,38);
    background: linear-gradient(90deg, rgba(242,142,38,1) 0%, rgba(247,98,59,1) 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column-reverse;
}
.menu .title-menu{
    font-size:3rem;
    border:3px solid black;
    padding:1rem 4rem; 
    border-radius:30px;
    cursor:pointer;
    position:absolute;
    z-index: 999;
    top:80%
}
.menu img{
    display: flex;
    justify-content: center;
    height:100%;
    margin-bottom:70px;
    animation: 2s   start;  
    
}

.title-menu:hover + #img{ 
    animation: 3s   glissement;  
    animation-fill-mode:forwards;
}

@keyframes start {
    from {
        margin-right:130%
    }
    20% {
        transform:rotate(0deg);
    }
    80%{
        transform:rotate(-30deg);
    }
    to {
    }
  }
  


@keyframes glissement {
    from {
    }
    20% {
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(-30deg);
    }
    to {
        margin-left:180%;
        transform:rotate(0deg);

    }
  }
  
